<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-Out</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }



    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'core/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
<div class="main-w3layouts wrapper">
    <h1>Log-Out</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <h3><a href="{% url 'logout' %}</h3>
        </div>
    </div>
    <div class=" colorlibcopy-agile">
                <p>© 2020 All rights reserved | Design by <a href="https://github.com/DishenMakwana" target="_blank">Dishen
                    Makwana</a></p>
    </div>
</div>

</body>
</html>